body{
    background: #fafafa;
    font-family:'Raleway',sans-serif;
    color: #222222;
}

.container{
    width: 900px;
    margin: 0 auto;
}

.profile{
    text-align: center;
    margin-bottom: 40px;
}

.foto-principal{
    width: 200px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50%;
    margin: 30px 30px 0;
    box-shadow: 0px 0px 10px rgb(97, 95, 95);
}

h1{
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}
 h2{
     margin-top: 0;
     font-style: italic;
     color: #705555;
     font-weight: 100;
     letter-spacing: -1px;
 }
 
 p{
     line-height: 25px;
 }

 .social-links{
     text-decoration: none;
 }

.social-icons{
    width: 20px;
}

.github{
    margin: 0 15px 0 15px;
}